body{
  background-image:
  url("http://wallpapercave.com/wp/QwMM79Z.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  font-family: Times;
}
.h1{
  font-size: 35px;
  color:white;
  text-align: center;
font-style: oblique;
}
.intro{
  color:white;
  text-align: center;
  font-size: 30px;
}
.button {
display: block;
width:15%;
margin:0 auto;
position:relative;
font-size: 18px;
font-style:oblique;;
font-weight:normal;
}
button:hover{
  background-color:#282D43;
  color:white;
}
.around{
  text-align: center;
  /* font-family: verdana; */
    font-size: 25px;
    font-style: oblique;
    color: white;
  }
.h2{
  font-size: 30px;
  color:white;
  text-align: center;
font-style: oblique;
}
.page2{
  color:white;
  text-align: center;
  font-size: 30px;
}
.fillin
{
  margin: auto;
  color:white;
  text-align: center;
  font-size: 30px;
}
input
{
width:15%;
font-size: 25px;
color:#282D43;
font-style: oblique;
opacity: 0.5;
}
.response1style{
  font-size: 18px;
  color: green;
}
.wrongresponse1style{
  font-size: 18px;
  color:red;
}
.response2style{
  font-size: 18px;
  color: green;
}
.response3style{
  font-size: 18px;
  color: green;
}
.response4style{
  font-size: 18px;
  color: green;
}
